---

import ExternalLink from './ExternalLink.astro';
import links from '../links';

// const categories = [...new Set(links.map(l => l.category))]

---

<section>
  { links.map(link => <ExternalLink link={link}/> )}
</section>


<style>

section {
  padding: 2em;
  max-width: 50rem;
  margin-inline: auto; 
  /* display: grid;
  gap: 0.5em;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );*/
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center; 

}
</style>