---
interface Props {
	title: string;
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow" />

		<!-- meta tags for SEO -->
		<meta name="author" content="Maxime Moreillon">
		<meta
			name="keywords"
			content="DevOps, IoT, Web, Software, Projects, Maxime, Moreillon, Engineer, Mechatronics"
		/>
		<meta
			name="description"
			content="Personal website of Maxime Moreillon"
		/>

		<!-- OpenGraph (Facebook) -->
		<meta property="og:title" content="Maxime Moreillon" />
		<meta
			property="og:description"
			content="Personal website of Maxime Moreillon"
		/>
		<meta property="og:url" content="https://maximemoreillon.com" />
		<meta
			property="og:image"
			content="https://maximemoreillon.com/logo/logo.svg"
		/>
		<meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:title" content="Maxime Moreillon" />
		<meta
			property="twitter:description"
			content="Personal website of Maxime Moreillon"
		/>
		<meta
			property="twitter:image"
			content="https://maximemoreillon.com/logo/logo.svg"
		/>
		<meta property="twitter:image:alt" content="Maxime Moreillon logo" />


		<link rel="icon" type="image/svg+xml" href="logo/logo.svg" />
    <link rel="canonical" href="https://maximemoreillon.com" />


		<title>Maxime Moreillon</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: #c00000;
	}
	html {
		font-family: system-ui, sans-serif;
		font-size: 20px;
		/* font-size: 100%; */
		
	}
	body {
		padding: 0;
		margin: 0;
	}

</style>
